<p>about works!</p>
<div id="about-container">
  <div id="about-text">
    After 13 years leading pastry and other culinary departments in and around Los Angeles, 
    I felt the need to take a new step in my career path. I began learning basic web development skills using online sources in 2016. 
    I learned HTML, CSS and JavaScript, using those skills to create simple web pages and JS based applications. 
    In 2018 I became more serious about my education and transitioned to university, 
    where I'm becoming more familiar with OOP using Java and C/C++ languages. 
    I am now currently in the process of obtaining a BA in computer science at Cal State Northridge, ready to begin a new career.
  </div>
  <img src="/assets/images/IMG_66142.png" id="face-pic">
</div> 