<p>skills works!</p>
<div id="skills">
  <div id="title">Skills</div>
    <div class="container-skills">
      <div class="top">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <div class="content-skills">
        <div id="tables-left">
          <table class="tg">
            <tbody>
              <tr>
                <td class="td-main" onclick="displayTech()">Technical<i class="bi bi-laptop"></i></td>
              </tr>
              <tr>
                <td class="td-main" onclick="displayLang()">Languages<i class="bi bi-code-slash"></i></td>
              </tr>
              <tr>
                <td class="td-main" onclick="displayTool()">Tools<i class="bi bi-gear"></i></td>
              </tr>
              <tr>
                <td class="td-main" onclick="displayProj()">Project Management<i class="bi bi-git"></i></td>
              </tr>
            </tbody>
          </table>
        </div>            
        <div id="tables-right">
          <div id="td-tech" style="display: none;">
            <div class="td-tech"><i class="devicon-mysql-plain-wordmark"></i></div>
            <div class="td-tech"><i class="devicon-nodejs-plain-wordmark"></i></div>
            <div class="td-tech"><i class="devicon-react-original-wordmark"></i></div>
          </div>
          <div id="td-lang" style="display: none;">
            <div class="td-lang"><i class="devicon-c-line"></i></div>
            <div class="td-lang"><i class="devicon-cplusplus-line"></i></div>
            <div class="td-lang"><i class="devicon-javascript-plain"></i></div>
            <div class="td-lang"><i class="devicon-html5-plain-wordmark"></i></div>
            <div class="td-lang"><i class="devicon-php-plain"></i></div>
            <div class="td-lang"><i class="devicon-java-plain-wordmark"></i></div>
            <div class="td-lang"><i class="devicon-bash-plain"></i></div>
          </div>
          <div id="td-tool" style="display: none;">
            <div class="td-tool"><i class="devicon-vscode-plain-wordmark"></i></div>
            <div class="td-tool"><i class="devicon-intellij-plain-wordmark"></i></div>
            <div class="td-tool"><i class="devicon-atom-original-wordmark"></i></div>
            <div class="td-tool"><i class="devicon-gimp-plain"></i></div>
            <div class="td-tool"><i class="devicon-photoshop-line"></i></div>
          </div>
          <div id="td-proj" style="display: none;">
            <div class="td-proj"><i class="devicon-github-original-wordmark"></i></div>
            <div class="td-proj"><i class="devicon-jira-plain-wordmark"></i></div>
          </div>
        </div>
      </div>
    </div>
</div>